/*
css rules
selector{
	property: value;
	}
*/

/*universal selector*/
*{
	/*monospace acts like an alternate font for courier new*/
	font-family: "Courier New", monospace;
	font-size: 20px;
}

body{
	background-color: skyblue;
}
html{
	scroll-behavior: smooth;
}

/*navigation bar*/
nav{
	background-color: white;
}


/*selector:  hover pseudo class*/
/*changes the style when hovered over*/
a:hover{
	background-color: #b4d6de;
}



div{
	display: inline-block;
	float: right;
}



h1{
	color: orange !important;
	text-align: center;
	font-size: 2rem;
}
/*though inline styling has more priority the 
"!importance" gives highest priority to this styling*/


/*landing section*/
section{
	height: 100vh;
	text-align: center;
}

h2{
	font-size: 1.5rem;
}

/*id selector*/
/*#id-name*/
#zuitt-motto{
	letter-spacing:  5px;
	/*the letter spacing-spacing property changes 
	the spaces in between characters of a text*/
}
/*type selector*/
h3{
	letter-spacing: 25px;
}
/*the above h3 styling does  ot work because it 
already has an id and id selector has more priority*/


/*adjacent sibling selector*/
/*selector+selector*/
h2 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}
/*works on the img which is immedietly next to h3*/

/*#zuitt-motto+img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
	}
*/
/*The selectors used for combinator selectors aren't limited to type 
selectors only. Id, class, attribute and universal may also be used */

ol{
	list-style-type: none;
}

/*class selector*/
/* .class-name */

.offering-item {
	text-transform:  uppercase;
	/*the text transform property changes font to  certain case, 
	the value uppercase changes the text to all capitalized letters*/
}

/*descendant selector*/
/*selector selector*/
#bootcamp-learning-list li{
	color: #8B0000;
}
/*the color property and similar properties that change colour can also accept hex values.
 hexadecimal values consist of # sign in combination to alphanumeric characters*/


/*general sibling selector*/
/*selector~selector*/
h2	~ a{
	text-decoration: none;
}
/*the text decoration is a property that changes lines 
included in text(e.g. overline, underline and strike through)*/
/*the value none will remove the underline from links*/


/*child selector*/
/*selector > selector*/
body > section > form > label{
	color: rgb(237, 17, 35);
}
/*the child selector may include more than two selectors and 
the last tag or element is where the change will happen*/


/*Attribute selector*/
/*tagname[attribue]*/

input[required]{
	border-width: 2px;
	border-style: solid;
	background-color: lightcoral;
	width: 90%;
}

/*registered section*/
form{
	text-align: center;
	background-color: white;
	height: 185px;
	width: 25vw;
	border: 2px solid black;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}