*{
	font-family: 'Open Sans', sans-serif;
}

nav{

	/*padding: 0.8rem;*/
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
	background-color: white;
	padding: 10px;
	position: sticky;
	top: 10px;
}

  nav .nav, nav .right-nav{

  			display: inline;
  			margin: 0.5rem;

  }

nav .nav-logo{

   	display: inline;
   	margin-left: 0.5rem;
   	margin-top: 0.5rem;
   	margin-bottom: 0.5rem;
   	margin-right: 20rem;
}

.tuitt-button{
    color: white;
	background-color: #c2195b;
	border-radius: 25px;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
}

.apply-button{
    color: white;
	background-color: #c2195b;
	border-radius: 25px;
	font-weight: bold;
	font-size: 1rem;
	padding: 1rem;
	margin-right: 7rem;
}


.intro h2{
   	text-align: center;
   	font-weight: bold;
   	font-size: 2rem;
}

.intro-description{
	padding-left: 10%;
	padding-right: 10%;
  	padding-top: 2rem;
	padding-bottom: 10rem;

}

.pre-footer{
	background-color: #f7fbfb;
}

.pre-footer h2{
	text-align: center;
	font-weight: bold;
	font-size: 2rem;
}

.prefooter-description{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 1rem;
	text-align: center;
}

#bg-image{
	min-height: 550px;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: centr top;
	background-attachment: scroll;
	margin-bottom: 10rem;
}

.front-bg{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 550px;
}


.title-2{
	font-family: 'Zilla Slab' ;
}

.title{
	font-family: 'Zilla Slab' ;
	font-size: 2rem;
	margin-left: 33rem;
	width: 50%;
}

.container{
	text-align: right;
	color: white;

}

.subtitle{
	min-height: 100px;
	width: 40%;
	margin-left: 40rem;
}



.book-button{
    color: white;
	background-color: #336589;
	border-radius: 30px;
	font-weight: bold;
	font-size: 1rem;
	padding-left: 3rem;
	padding-right: 3rem;
	padding-bottom: 1rem;
	padding-top: 1rem;
	margin-left: 42%;
	margin-right: 30%;
}


footer{
	margin-left: 20rem;
	padding-top: 10rem ;
}