#external{
	color: yellow;
}

*{
	font-family: "sans-serif;", monospace;
	font-size: 20px;
}


h1{
	font-size: 50px;
}

#items{
	text-transform:  uppercase;
}

.languages{
	background-color: lightgreen;
}


li[type="1"]{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}

img + ul {
	list-style-type: none;
}

#main img{
	height: 100px;
	width: 100px;
	border-radius: 50px;
}

h4 ~ p{
	text-align: center;
}

body> section> ul> li{
	letter-spacing: 5px;
}